* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  font-family: "Inter", sans-serif !important;
  list-style: none !important;
}

/*HEADER*/
.header {
  background: black;
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-content .header-left {
  margin: 10px 0 8px 24px;
}
.header .header-content .header-right {
  display: flex;
  color: white;
  margin-right: 30px;
  align-items: center;
}
.header .header-content .header-right .icon-cart {
  background-image: url(../images/image\ 8.png);
  width: 31px;
  height: 31px;
  cursor: pointer;
}
.header .header-content .header-right a {
  display: block;
  margin-bottom: 0;
}
.header .header-content .header-right .num {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  font-style: normal;
  padding-right: 10px;
  color: white;
  cursor: pointer;
}
.header .header-content .header-right .item-list {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  font-style: normal;
  padding-right: 20px;
  color: white;
  cursor: pointer;
}

/*NAV*/
.nav .nav-content {
  padding: 16px 0 10px 25px;
}
.nav .nav-content .nav-item {
  margin-right: 25px;
  color: black;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  position: relative;
}
.nav .nav-content .nav-item.active {
  font-weight: 400;
}
.nav .nav-content .nav-item.active::after {
  width: 98%;
}
.nav .nav-content .nav-item::after {
  content: "";
  height: 1px;
  width: 0;
  background: #030303;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.5s;
}
.nav .nav-content .nav-item:hover::after {
  width: 98%;
  font-weight: 400;
}

/*CAROUSEL*/
.Carousel {
  margin-bottom: 46px;
}
.Carousel .carousel {
  padding-top: 50px !important;
  position: relative;
}
.Carousel .carousel .carousel-indicators {
  position: absolute;
  display: inline-block;
  margin: 0 50px !important;
  left: 500px;
  height: 100px;
}
.Carousel .carousel .carousel-indicators button {
  display: inline-block;
  width: 15px;
  height: 15px !important;
  border-radius: 50%;
  border: 1px solid #D9D9D9;
}
.Carousel .carousel .carousel-inner {
  background-image: url("../images/image 6.png");
  background-size: cover;
  max-height: 390px !important;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.Carousel .carousel .carousel-inner .carousel-item {
  max-height: 530px !important;
}
.Carousel .carousel .carousel-inner .carousel-item .carousel-row .product-img .trainer-img {
  position: relative;
  width: 821px;
  height: 392px;
}
.Carousel .carousel .carousel-inner .carousel-item .carousel-row .product-img .trainer-img img {
  position: absolute;
  width: 100%;
  left: 86px;
  bottom: 70px;
}
.Carousel .carousel .carousel-inner .carousel-item .carousel-row .product-title {
  position: relative;
}
.Carousel .carousel .carousel-inner .carousel-item .carousel-row .product-title .product-content {
  position: absolute;
  top: 20px;
  left: 150px;
}
.Carousel .carousel .carousel-inner .carousel-item .carousel-row .product-title .product-content .product-name {
  font-weight: 300;
  font-size: 40px;
}
.Carousel .carousel .carousel-inner .carousel-item .carousel-row .product-title .product-content .product-de {
  font-weight: 300;
  font-size: 20px;
  line-height: 24.2px !important;
}
.Carousel .carousel .carousel-inner .carousel-item .carousel-row .product-title .product-content .btn-buy {
  margin-top: 30px !important;
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #F8B653;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 10px !important;
}

/*PRODUCT*/
.product .product-content {
  margin: 0px 46px 108px 46px;
}
.product .product-content .title {
  text-align: center;
  padding-top: 30px;
}
.product .product-content .title h2 {
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}
.product .product-content .product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 80px;
  margin-left: 60px;
  margin-right: 40px;
}
.product .product-content .product-list .product-item {
  background-color: #F8F8F8;
  width: 384px;
  height: 369px;
}
.product .product-content .product-list .product-item .product-img {
  text-align: center;
}
.product .product-content .product-list .product-item .product-img img {
  padding: 45px 57px 30px 57px;
}
.product .product-content .product-list .product-item .product-desc {
  margin-left: 25px;
}
.product .product-content .product-list .product-item .product-desc h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
.product .product-content .product-list .product-item .product-desc p {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #CBC9C9;
}
.product .product-content .product-list .product-item .product-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.product .product-content .product-list .product-item .product-btn .btn-buy {
  display: block;
  width: 100%;
  background-color: #E1B067;
  padding: 18px 0;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: black;
}
.product .product-content .product-list .product-item .product-btn .btn-price {
  display: block;
  width: 100%;
  background-color: #DEDDDC;
  padding: 18px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: black;
}

/*FOOTER*/
.footer .container1 .footer-head {
  padding-left: 50px;
}
.footer .container1 .footer-head .help {
  padding: 10px 10px !important;
}
.footer .container1 .footer-head .help .content {
  border-right: 1px solid #D9D9D9;
}
.footer .container1 .footer-head .help .content h1 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container1 .footer-head .help .content ul {
  display: inline-block;
  margin: 5px 0 !important;
  margin-left: -31px !important;
}
.footer .container1 .footer-head .help .content ul li {
  font-size: 10px;
}
.footer .container1 .footer-head .order {
  padding: 10px 10px !important;
}
.footer .container1 .footer-head .order .content {
  border-right: 1px solid #D9D9D9;
}
.footer .container1 .footer-head .order .content h1 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container1 .footer-head .order .content ul {
  display: inline-block;
  margin: 5px 0 !important;
  margin-left: -31px !important;
}
.footer .container1 .footer-head .order .content ul li {
  font-size: 10px;
}
.footer .container1 .footer-head .register {
  padding: 10px 10px !important;
}
.footer .container1 .footer-head .register h1 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container1 .footer-head .register p {
  display: inline-block;
  margin: 5px 0 !important;
  font-size: 10px;
}
.footer .container1 .footer-head .register a {
  display: block;
  color: #F50E0E;
  font-size: 10px;
}
.footer .container1 .footer-body {
  padding-left: 50px;
  background-color: #D9D9D9;
}
.footer .container1 .footer-body .email {
  padding: 10px 10px !important;
}
.footer .container1 .footer-body .email .content {
  border-right: 1px solid gray;
}
.footer .container1 .footer-body .email .content h1 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container1 .footer-body .email .content p {
  display: inline-block;
  margin: 5px 0 !important;
  font-size: 10px;
}
.footer .container1 .footer-body .email .content a {
  display: block;
  font-size: 10px;
  color: #F50E0E;
}
.footer .container1 .footer-body .gift {
  padding: 10px 10px !important;
}
.footer .container1 .footer-body .gift .content {
  border-right: 1px solid gray;
}
.footer .container1 .footer-body .gift .content h1 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container1 .footer-body .gift .content p {
  display: inline-block;
  margin: 5px 0 !important;
  font-size: 10px;
}
.footer .container1 .footer-body .gift .content a {
  display: block;
  font-size: 10px;
  color: #F50E0E;
}
.footer .container1 .footer-body .store {
  padding: 10px 10px !important;
}
.footer .container1 .footer-body .store .content {
  border-right: 1px solid gray;
}
.footer .container1 .footer-body .store .content h1 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container1 .footer-body .store .content p {
  display: inline-block;
  margin: 5px 0 !important;
  font-size: 10px;
}
.footer .container1 .footer-body .store .content a {
  display: block;
  font-size: 10px;
  color: #F50E0E;
}
.footer .container1 .footer-body .arrow .arrow-up {
  text-align: center;
  padding-top: 40px !important;
}