* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  font-family: "Inter", sans-serif !important;
  list-style: none !important;
}

.header {
  background: black;
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-content .header-left {
  margin: 10px 0 8px 24px;
}
.header .header-content .header-right {
  display: flex;
  color: white;
  margin-right: 30px;
  align-items: center;
}
.header .header-content .header-right .icon-cart {
  background-image: url(../images/image\ 8.png);
  width: 31px;
  height: 31px;
  cursor: pointer;
}
.header .header-content .header-right a {
  display: block;
  margin-bottom: 0;
}
.header .header-content .header-right .num {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  font-style: normal;
  padding-right: 10px;
  color: white;
  cursor: pointer;
}
.header .header-content .header-right .item-list {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  font-style: normal;
  padding-right: 20px;
  color: white;
  cursor: pointer;
}

/*FOOTER*/
.footer .container1 .footer-head {
  padding-left: 50px;
}
.footer .container1 .footer-head .help {
  padding: 10px 10px !important;
}
.footer .container1 .footer-head .help .content {
  border-right: 1px solid #D9D9D9;
}
.footer .container1 .footer-head .help .content h1 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container1 .footer-head .help .content ul {
  display: inline-block;
  margin: 5px 0 !important;
  margin-left: -31px !important;
}
.footer .container1 .footer-head .help .content ul li {
  font-size: 10px;
}
.footer .container1 .footer-head .order {
  padding: 10px 10px !important;
}
.footer .container1 .footer-head .order .content {
  border-right: 1px solid #D9D9D9;
}
.footer .container1 .footer-head .order .content h1 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container1 .footer-head .order .content ul {
  display: inline-block;
  margin: 5px 0 !important;
  margin-left: -31px !important;
}
.footer .container1 .footer-head .order .content ul li {
  font-size: 10px;
}
.footer .container1 .footer-head .register {
  padding: 10px 10px !important;
}
.footer .container1 .footer-head .register h1 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container1 .footer-head .register p {
  display: inline-block;
  margin: 5px 0 !important;
  font-size: 10px;
}
.footer .container1 .footer-head .register a {
  display: block;
  color: #F50E0E;
  font-size: 10px;
}
.footer .container1 .footer-body {
  padding-left: 50px;
  background-color: #D9D9D9;
}
.footer .container1 .footer-body .email {
  padding: 10px 10px !important;
}
.footer .container1 .footer-body .email .content {
  border-right: 1px solid gray;
}
.footer .container1 .footer-body .email .content h1 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container1 .footer-body .email .content p {
  display: inline-block;
  margin: 5px 0 !important;
  font-size: 10px;
}
.footer .container1 .footer-body .email .content a {
  display: block;
  font-size: 10px;
  color: #F50E0E;
}
.footer .container1 .footer-body .gift {
  padding: 10px 10px !important;
}
.footer .container1 .footer-body .gift .content {
  border-right: 1px solid gray;
}
.footer .container1 .footer-body .gift .content h1 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container1 .footer-body .gift .content p {
  display: inline-block;
  margin: 5px 0 !important;
  font-size: 10px;
}
.footer .container1 .footer-body .gift .content a {
  display: block;
  font-size: 10px;
  color: #F50E0E;
}
.footer .container1 .footer-body .store {
  padding: 10px 10px !important;
}
.footer .container1 .footer-body .store .content {
  border-right: 1px solid gray;
}
.footer .container1 .footer-body .store .content h1 {
  font-size: 15px;
  font-weight: 600;
}
.footer .container1 .footer-body .store .content p {
  display: inline-block;
  margin: 5px 0 !important;
  font-size: 10px;
}
.footer .container1 .footer-body .store .content a {
  display: block;
  font-size: 10px;
  color: #F50E0E;
}
.footer .container1 .footer-body .arrow .arrow-up {
  text-align: center;
  padding-top: 40px !important;
}