* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-decoration: none !important;
   font-family: 'Inter', sans-serif !important;
   list-style: none !important;
}

/*HEADER*/
.header {
   background: black;

   .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-left {
         margin: 10px 0 8px 24px;

         a {
            img {}
         }
      }

      .header-right {
         display: flex;
         color: white;
         margin-right: 30px;
         align-items: center;

         .icon-cart {
            background-image: url(../images/image\ 8.png);
            width: 31px;
            height: 31px;
            cursor: pointer;
         }

         a {
            display: block;
            margin-bottom: 0;
         }

         .num {
            font-size: 30px;
            font-weight: 300;
            line-height: 36px;
            font-style: normal;
            padding-right: 10px;
            color: white;
            cursor: pointer;
         }

         .item-list {
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            font-style: normal;
            padding-right: 20px;
            color: white;
            cursor: pointer;
         }
      }
   }
}

/*NAV*/
.nav {

   .nav-content {
      padding: 16px 0 10px 25px;

      .nav-item {
         margin-right: 25px;
         color: black;
         font-style: normal;
         font-weight: 300;
         font-size: 20px;
         line-height: 24px;
         position: relative;

         &.active {
            font-weight: 400;

            &::after {
               width: 98%;
            }
         }

         &::after {
            content: "";
            height: 1px;
            width: 0;
            background: #030303;
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: all .5s;
         }

         &:hover::after {
            width: 98%;
            font-weight: 400;
         }
      }
   }
}

/*CAROUSEL*/
.Carousel {
   margin-bottom: 46px;
   
   .carousel {
      padding-top: 50px !important;
      position: relative;

      .carousel-indicators {
         position: absolute;
         display: inline-block;
         margin: 0 50px !important;
         left: 500px;
         height: 100px;

         button {
            display: inline-block;
            width: 15px;
            height: 15px !important;
            border-radius: 50%;
            border: 1px solid #D9D9D9;
         }

      }

      .carousel-inner {
         background-image: url('../images/image\ 6.png');
         background-size: cover;
         max-height: 390px !important;
         background-repeat: no-repeat;
         background-position: center bottom;

         .carousel-item {
            max-height: 530px !important;

            .carousel-row {
               .product-img {
                  .trainer-img {
                     position: relative;
                     width: 55rem;
                     height: 25rem;

                     img {
                        @media screen and (max-width: 798px) {
                           width: 75%;
                        }
                        position: absolute;
                        width: 100%;
                        left: 86px;
                        bottom: 70px;
                     }
                  }
               }

               .product-title {
                  position: relative;

                  .product-content {
                     position: absolute;
                     top: 20px;
                     left: 150px;

                     .product-name {
                        font-weight: 300;
                        font-size: 40px;
                     }

                     .product-de {
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 24.2px !important;
                     }

                     .btn-buy {
                        margin-top: 30px !important;
                        display: inline-block;
                        width: 150px;
                        height: 50px;
                        background-color: #F8B653;
                        font-weight: 300;
                        font-size: 20px;
                        color: white;
                        text-align: center;
                        padding-top: 10px !important;
                     }
                  }
               }
            }
         }
      }
   }
}

/*PRODUCT*/
.product {

   .product-content {
      margin: 0px 46px 108px 46px;

      .title {
         text-align: center;
         padding-top: 30px;

         h2 {
            font-style: normal;
            font-size: 40px;
            font-weight: 400;
            line-height: 48px;
         }
      }

      .product-list {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         gap: 50px;
         margin-top: 80px;
         margin-left: 60px;
         margin-right: 40px;

         .product-item {
            background-color: #F8F8F8;
            width: 384px;
            height: 369px;

            .product-img {
               text-align: center;

               img {
                  padding: 45px 57px 30px 57px;
               }
            }

            .product-desc {
               margin-left: 25px;

               h5 {
                  font-style: normal;
                  font-weight: 300;
                  font-size: 24px;
                  line-height: 29px;
               }

               p {
                  font-style: normal;
                  font-weight: 300;
                  font-size: 20px;
                  line-height: 24px;
                  color: #CBC9C9;
               }
            }

            .product-btn {
               display: flex;
               justify-content: space-around;
               align-items: center;
               text-align: center;

               .btn-buy {
                  display: block;
                  width: 100%;
                  background-color: #E1B067;
                  padding: 18px 0;
                  font-style: normal;
                  font-weight: 200;
                  font-size: 24px;
                  line-height: 29px;
                  color: black;
               }

               .btn-price {
                  display: block;
                  width: 100%;
                  background-color: #DEDDDC;
                  padding: 18px 0;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 24px;
                  line-height: 29px;
                  color: black;
               }
            }
         }
      }
   }
}

/*FOOTER*/
.footer {
   
   .container1 {
      
      .footer-head {
        padding-left: 50px;
         .help {

            padding: 10px 10px !important;

            .content {
               border-right: 1px solid #D9D9D9;

               h1 {
                  font-size: 15px;
                  font-weight: 600;
               }

               ul {
                  display: inline-block;
                  margin: 5px 0 !important;
                  margin-left: -31px !important;
                  li {
                     font-size: 10px;
                  }
               }
            }
         }

         .order {
            padding: 10px 10px !important;

            .content {
               border-right: 1px solid #D9D9D9;

               h1 {
                  font-size: 15px;
                  font-weight: 600;
               }

               ul {
                  display: inline-block;
                  margin: 5px 0 !important;
                  margin-left: -31px !important;
                  li {
                     font-size: 10px;
                  }
               }
            }
         }

         .register {
            padding: 10px 10px !important;

            h1 {
               font-size: 15px;
               font-weight: 600;
            }

            p {
               display: inline-block;
               margin: 5px 0 !important;
               font-size: 10px;
            }

            a {
               display: block;
               color: #F50E0E;
               font-size: 10px;
            }
         }

      }

      .footer-body {
        
         padding-left: 50px;
         background-color: #D9D9D9;

         .email {
            padding: 10px 10px !important;

            .content {
               border-right: 1px solid gray;

               h1 {
                  font-size: 15px;
                  font-weight: 600;
               }

               p {
                  display: inline-block;
                  margin: 5px 0 !important;
                  font-size: 10px;
               }

               a {
                  display: block;
                  font-size: 10px;
                  color: #F50E0E;
               }
            }
         }

         .gift {
            padding: 10px 10px !important;

            .content {
               border-right: 1px solid gray;

               h1 {
                  font-size: 15px;
                  font-weight: 600;
               }

               p {
                  display: inline-block;
                  margin: 5px 0 !important;
                  font-size: 10px;
               }

               a {
                  display: block;
                  font-size: 10px;
                  color: #F50E0E;
               }
            }
         }

         .store {
            padding: 10px 10px !important;

            .content {
               border-right: 1px solid gray;

               h1 {
                  font-size: 15px;
                  font-weight: 600;
               }

               p {
                  display: inline-block;
                  margin: 5px 0 !important;
                  font-size: 10px;
               }

               a {
                  display: block;
                  font-size: 10px;
                  color: #F50E0E;
               }
            }
         }

         .arrow {
            .arrow-up {
               text-align: center;
               padding-top: 40px !important;
            }
         }
      }
   }

}