* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-decoration: none !important;
   font-family: 'Inter', sans-serif !important;
   list-style: none !important;
}

// HEADER
.header {
   background: black;

   .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-left {
         margin: 10px 0 8px 24px;

         a {
            img {}
         }
      }

      .header-right {
         display: flex;
         color: white;
         margin-right: 30px;
         align-items: center;

         .icon-cart {
            background-image: url(../images/image\ 8.png);
            width: 31px;
            height: 31px;
            cursor: pointer;
         }

         a {
            display: block;
            margin-bottom: 0;
         }

         .num {
            font-size: 30px;
            font-weight: 300;
            line-height: 36px;
            font-style: normal;
            padding-right: 10px;
            color: white;
            cursor: pointer;
         }

         .item-list {
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            font-style: normal;
            padding-right: 20px;
            color: white;
            cursor: pointer;
         }
      }
   }
}

// NAV
.nav {

   .nav-content {
      padding: 16px 0 10px 25px;

      .nav-item {
         margin-right: 25px;
         color: black;
         font-style: normal;
         font-weight: 300;
         font-size: 20px;
         line-height: 24px;
         position: relative;

         &.active {
            font-weight: 400;

            &::after {
               width: 98%;
            }
         }

         &::after {
            content: "";
            height: 1px;
            width: 0;
            background: #030303;
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: all .5s;
         }

         &:hover::after {
            width: 98%;
            font-weight: 400;
         }
      }
   }
}


/*FOOTER*/
.footer {

   .container1 {

      .footer-head {
         padding-left: 50px;

         .help {

            padding: 10px 10px !important;

            .content {
               border-right: 1px solid #D9D9D9;

               h1 {
                  font-size: 15px;
                  font-weight: 600;
               }

               ul {
                  display: inline-block;
                  margin: 5px 0 !important;
                  margin-left: -31px !important;

                  li {
                     font-size: 10px;
                  }
               }
            }
         }

         .order {
            padding: 10px 10px !important;

            .content {
               border-right: 1px solid #D9D9D9;

               h1 {
                  font-size: 15px;
                  font-weight: 600;
               }

               ul {
                  display: inline-block;
                  margin: 5px 0 !important;
                  margin-left: -31px !important;

                  li {
                     font-size: 10px;
                  }
               }
            }
         }

         .register {
            padding: 10px 10px !important;

            h1 {
               font-size: 15px;
               font-weight: 600;
            }

            p {
               display: inline-block;
               margin: 5px 0 !important;
               font-size: 10px;
            }

            a {
               display: block;
               color: #F50E0E;
               font-size: 10px;
            }
         }

      }

      .footer-body {

         padding-left: 50px;
         background-color: #D9D9D9;

         .email {
            padding: 10px 10px !important;

            .content {
               border-right: 1px solid gray;

               h1 {
                  font-size: 15px;
                  font-weight: 600;
               }

               p {
                  display: inline-block;
                  margin: 5px 0 !important;
                  font-size: 10px;
               }

               a {
                  display: block;
                  font-size: 10px;
                  color: #F50E0E;
               }
            }
         }

         .gift {
            padding: 10px 10px !important;

            .content {
               border-right: 1px solid gray;

               h1 {
                  font-size: 15px;
                  font-weight: 600;
               }

               p {
                  display: inline-block;
                  margin: 5px 0 !important;
                  font-size: 10px;
               }

               a {
                  display: block;
                  font-size: 10px;
                  color: #F50E0E;
               }
            }
         }

         .store {
            padding: 10px 10px !important;

            .content {
               border-right: 1px solid gray;

               h1 {
                  font-size: 15px;
                  font-weight: 600;
               }

               p {
                  display: inline-block;
                  margin: 5px 0 !important;
                  font-size: 10px;
               }

               a {
                  display: block;
                  font-size: 10px;
                  color: #F50E0E;
               }
            }
         }

         .arrow {
            .arrow-up {
               text-align: center;
               padding-top: 40px !important;
            }
         }
      }
   }

}