
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-decoration: none !important;
   font-family: 'Inter', sans-serif !important;
   list-style: none !important;
}
// @import url(../scss/index.scss);
@import url('./header.scss');
@import url('./footer.scss');




// Main
.login {
   padding: 0px 120px 40px 120px;
   margin-bottom: 40px;
   @media screen and (max-width:768px){
      padding: 20px 0px;
   }

   h1 {
      margin-top: 30px;
      margin-bottom: 71px;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
   }

   input[type="text"] {
      width: 100%;
      border: none;
      height: 50px;

      &::placeholder {
         color: black;
         font-style: normal;
         font-weight: 400;
         font-size: 30px;
         line-height: 36px;
      }
      // &:focus{
      //    border: 1px solid white;
      // }

      border-bottom: 5px solid #AE18E2;
   }

   .gender {
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width:768px){
         flex-direction: column;
         align-items: flex-start;
      }

      p {
         font-weight: 400;
         font-size: 30px;
         line-height: 36px;
         margin: 0;
      }

      .male,
      .Female {
         align-items: center;
         @media screen and (max-width:768px) {
           margin-top: 20px;
          }
         span {
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            margin-left: 10px;
         }

         input[type="radio"] {
            width: 50px;
            height: 50px;

            &:checked {
               color: #AE18E2;
               padding: 6px 98px 12px 87px;
            }
             @media screen and (max-width:768px) {
               width: 30px;
               height: 30px;
             }
         a {
            img {}
         }
      }
   }
}
.btn-submit {
   margin-top: 85px;
      .btn-sb {
         font-weight: 400;
         font-size: 30px;
         line-height: 36px;
          padding: 6px 98px 12px 87px;
          border: 1px solid #AE18E2;
         color: #FFFCFC;
         background: #AE18E2;
         &:hover{
            background: rgb(118, 118, 244);
         }
      }
   }
}
 

